<footer>
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <a href="/" class="nav-link ">
          <h2>VERZEL</h2>
        </a>
      </div>
      <div class="col mb-3">
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Comprar carro</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Vender carro</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">App Verzel</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Onde estamos</a></li>
        </ul>
      </div>

      <div class="col mb-3">
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Perguntas frequentes</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Blog</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Guia de preços</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Carreiras</a></li>
        </ul>
      </div>

      <div class="col mb-3">
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Contato</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Imprensa</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">🇧🇷 Brasil</a></li>
        </ul>
      </div>
    </div>

    <div class="row border-bottom social-media">
      <ul>
        <li class="horizontal-list"><a href="#" class=""><i class="bi bi-facebook"></i></a></li>
        <li class="horizontal-list"><a href="#" class=""><i class="bi bi-instagram"></i></a></li>
        <li class="horizontal-list"><a href="#" class=""><i class="bi bi-linkedin"></i></a></li>
        <li class="horizontal-list"><a href="#" class=""><i class="bi bi-apple"></i></a></li>
        <li class="horizontal-list"><a href="#" class=""><i class="bi bi-google-play"></i></a>
        </li>
      </ul>
    </div>

    <div class="row py-3">
      <ul>
        <li class="horizontal-list">Copyright © 2022 VERZEL. Todos os direitos reservados.</li>
        <li class="horizontal-list">Política de Privacidade</li>
        <li class="horizontal-list">Termos e Condições</li>
        <li class="horizontal-list">Configurações de cookies</li>
      </ul>
      <p>KAVAK TECNOLOGIA E COMERCIO DE VEICULOS LTDA., inscrita no CNPJ sob o nº 36.740.390/0001-83, com sede na
        Estrada
        dos Alpes, nº 855, Galpão A, Módulo 1, Jardim Belval, Barueri/SP, CEP 06.423-080</p>
    </div>
  </div>
</footer>