<div class="card shadow rounded mb-5">
    <img [src]="car.images.length > 0 ? 'https://localhost:7013/images/' + car.images[0].filename : '/assets/images/default-cars.jpeg'"
        class="card-img-top car-image" alt="{{car.brand.name}} {{car.name}} {{car.model}}">
    <div class="card-body">
        <h4 class="card-title">{{car.brand.name}} {{car.name}} {{car.model}}</h4>
        <p class="card-text car-description">2020 - 50.361 km - Sao Paulo</p>
        <h5>{{car.price / 100 | currency: 'BRL'}}</h5>
        <button class="btn btn-secondary" type="button" *ngIf="isLoggedIn" (click)="edit()">Editar</button>
    </div>
</div>